.table-container {
  width: 100%;
  margin-top: 1%;
  margin-left: 0.5%;
}
.school-table {
  width: 100%;
}
.school-table .column-count {
    margin-top: 0px;
}

.school-table .column-statistic {
    margin-top: 0px;
}
.chart-statistic {
  width: 500px;
  height: 500px;
}
